[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
ta = "*"
pandas = "*"
numpy = "*"
matplotlib.pyplot = "*"
python-binance = "*"
datetime = "*"
IPython = "*"
mplcursors = "*"
plotly = "*"
dash = "*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.10"

[scripts]
main = "python ./bot/trading_bot.py"